@font-face {
  font-family: diezmaBold;
  src: url(assets/fonts/Diezma-ExtraBold.otf);
}
*{
  font-family: diezmaBold;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.btn_purple{
  border: 1px solid #360045 !important;
  background-color: #fff !important;
  color: #360045;
  font-weight: bold !important;
}
.btn_purple:hover,
.btn_purple:focus{
  background-color: #360045 !important;
  color: #fff;
}
label,
select option,
h1,
h3{
  color: #360045 !important;

}

h5{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(135,85,145,1) 0%, rgba(54,0,69,1) 78%, rgba(54,0,69,1) 90%, rgba(54,0,69,1) 90%, rgba(54,0,69,1) 90%, rgba(54,0,69,1) 98%, rgba(54,0,69,1) 99%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(135,85,145,1) 0%,rgba(54,0,69,1) 78%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 98%,rgba(54,0,69,1) 99%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(135,85,145,1) 0%,rgba(54,0,69,1) 78%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 90%,rgba(54,0,69,1) 98%,rgba(54,0,69,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#360045',GradientType=0 );
  color: white !important;
  padding: 15px;
}

input,
select,
textarea{
  border: 1px solid #360045 !important;
  color: #360045 !important;
  font-family: Arial !important;
}
input:focus,
select:focus,
textarea:focus{
  box-shadow: 0px 0px 8px #360045 !important;
}

input[type="text"]::-webkit-input-placeholder {
  color:rgba(135,85,145,.7)
}

ul li{
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}
.border_dash{
  border: 2px dashed #360045;
  border-radius: 5px;
}

.span_inp{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #360045;
  white-space: nowrap;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
  border-bottom: 1px dashed #360045;
}

.toolTipClass .tooltip-inner {
  background-color: rgba(135,85,145,1);
  padding: 10px;
}
.toolTipClass .arrow::before {
  border-top-color: rgba(135,85,145,1) !important;
}

.deleteBtn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: #360045;
  cursor: pointer;
  animation: anim 5s alternate;
}

@-webkit-keyframes anim {
  0%   { opacity: 0.1; }
  100% { opacity: 1; }
}
@-moz-keyframes anim {
  0%   { opacity: 0.1; }
  100% { opacity: 1; }
}
@-o-keyframes anim {
  0%   { opacity: 0.1; }
  100% { opacity: 1; }
}
@keyframes anim {
  0%   { opacity: 0.1; }
  100% { opacity: 1; }
}
/**/